@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-architecture {
        background-image: url("../../public/architecture.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
